.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 34px;
    font-weight: 600;
    color: #323232;
}


a {
    text-decoration: none;
}
