.decksView {
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.decks {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    background: #F0F3FA;
}

a {
    text-decoration: none;
}
