.topbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topbarFlex img {
    height: 30px;
    margin: 0;
}

.profileView {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInfo > img {
    margin: 20px;
    height: 160px;
    border-radius: 100px;
}

.userStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.card {
    margin: 10px;
    padding: 10px;
    background: linear-gradient(270deg, #2D9CDB 0%, #2F80ED 100%);
    border-radius: 5px;
    color: white;
}
