.deckCard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    margin: 15px;
    padding: 20px;

    background: white;
    color: #3E465E;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-top: solid 5px var(--main-color);
    border-radius: 5px 5px 5px 5px;
}


.accent {
    border-top: solid 5px var(--accent-color);
}

.title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}
