.addCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 300px;
    min-height: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.addCard textarea {
    overflow: hidden;
    width: 100%;
    resize: none;
    text-align: center;
    border: none;
    outline: none;
    font-size: large;
    font-family: Rubik, sans-serif;
}
