.addView {
    font-size: 18px;
    overflow: scroll;
}

.addContainer {
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.deckSelectContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.deckSelect {
    width: 500px;
}

.deckLabel {
    font-size: 18px;
}

.deckSelectText {
    font-size: 1.3rem;
    font-family: "Rubik", sans-serif !important;
}

.addCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.topbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topbarFlex img {
    height: 30px;
    margin: 0;
}

.iconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

