.bottomBar {
	z-index: 100;
	/*noinspection CssUnresolvedCustomProperty*/
	height: calc(10 * var(--vh));
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
	background: white;
}

.bottomBar a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
