.bottomBar {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #D8E3F9;
    border-top: solid 1px #a0aac0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
