.topbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    z-index: 9999999;
    position: relative;
    background: #F7F6F6;
}

.topbar > * {
    flex-basis: 33%;
}

.topbar > *:last-child {
    text-align: right;
}

.modeSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modeSwitcher > * {
    padding: 5px;
}

.progressIndicator {
    font-weight: bold;

}

.deckContainer * {
    z-index: 1;
}
